<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.biosapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity android:name=".Controllers.DetailedActivity" />
        <activity android:name=".Controllers.FeedbackActivity"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />
        <activity
            android:name=".Controllers.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Controllers.Main.DetailedActivity" />
        <activity android:name=".Controllers.Payments.PaymentActivity" />
        <activity android:name=".Controllers.Seats.SeatsActivity">
        </activity>
        <activity android:name=".Controllers.Unused.TicketsActivityOld" />
        <activity android:name=".Controllers.Unused.PaymentFinishedActivity" />
        <activity android:name=".Controllers.Unused.PaymentProgressActivity" />
        <activity android:name=".Controllers.Tickets.TicketViewActivity"></activity>
        <activity android:name=".Controllers.Tickets.TicketsActivity$BuyTicketActivity" />
        <activity android:name=".Controllers.Unused.TicketBuyerInfoActivity" />
        <activity android:name=".Controllers.Unused.TicketSeatInfoActivity" />
        <activity android:name=".Controllers.Tickets.TicketsActivity" />
        <activity android:name=".Controllers.Unused.TicketDetailActivity"></activity>
        <activity android:name=".Controllers.Contact.ContactActivity"></activity>
        <activity android:name=".Controllers.Contact.FeedbackActivity"></activity>
        <activity android:name=".Controllers.Contact.MapsActivity"></activity>

    </application>

</manifest>